@model IEnumerable<Movies.Models.Movie>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a class="btn btn-sm btn-primary" asp-action="Create">Create New</a>
</p>
<hr />
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="card">
                <img src="~/images/movie.png" alt="Avatar" style="width:100%">
                <div class="container">
                    <h3><b><a asp-action="Details" asp-route-id="@item.MovieId">@item.MovieName</a></b></h3>
                    <h4>Released - @item.Released.ToString("MMMM dd, yyyy")</h4>
                    <h4><a asp-action="ProducerDetails" asp-route-id="@item.Producer.Id">@item.Producer.Name</a></h4>
                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.MovieId">Edit</a>
                </div>
            </div>
        </div>
    }
</div>


